<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Healthylivin</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">

        <link rel="stylesheet" href="{% static "css/animate.min.css"%}">
        <link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
        <link rel="stylesheet" href="{% static "css/bootstrap-grid.css"%}">
        <link rel="stylesheet" href="{% static "css/bootstrap-reboot.css"%}">
        <link rel="stylesheet" href="{% static "css/default-skin.css"%}">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css"%}">
        <link rel="stylesheet" href="{% static "css/icomoon.css"%}">
        <link rel="stylesheet" href="{% static "css/jquery-ui.css"%}">
        <link rel="stylesheet" href="{% static "css/jquery.fancybox.min.css"%}">
        <link rel="stylesheet" href="{% static "css/jquery.mCustomScrollbar.min.css"%}">
        <link rel="stylesheet" href="{% static "css/nice-select.css"%}">
        <link rel="stylesheet" href="{% static "css/normalize.css"%}">
        <link rel="stylesheet" href="{% static "css/owl.carousel.min.css"%}">
        <link rel="stylesheet" href="{% static "css/responsive.css"%}">
        <link rel="stylesheet" href="{% static "css/slick.css"%}">
        <link rel="stylesheet" href="{% static "css/style.css"%}">



    </head>
    <body>
      <!-- header section start -->
      <div class="header_section">
        <nav class="destop_header navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo"></div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                  <img  style="height: 100px; width: 450px" src={% static 'images/newloggo.jpg' %} alt="">
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#"><img src={% static 'images/search-icon.png' %}></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Pharmacy of Choice</a>
              </li>              
            </ul>
          </div>
        </nav>
        <nav class="mobile_header navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo"><img src={% static 'images/Healthy-Living.png' %}></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         ##

##
 <div class="collapse navbar-collapse" id="navbarSupportedContent2">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="doctor.html">Doctor</a>
              </li>
              <li class="nav-item">
                <a class="logo_main" href="index.html"><img src="images/logo.png"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="depatments.html">Depatments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
              <li class="nav-item">
                  <img src={% static 'images/search-icon.png' %}>
              </li>
              <li class="nav-item active">
               <p>Pharmacy of choice</p>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- header section end -->
      <!-- banner section start -->
      <div class="banner_section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 padding_0">
              <div id="main_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="banner_bg">
                      <div class="banner_taital_main">
                        <h1 class="banner_taital">Providing appropritate<br>
                        health care for  
                        <br>seniors and  childrens</h1>
                        <p class="long_text">Welcome to Healthylivin, a trusted provider of pharmaceutical services in Addis Ababa. Established in 2000, we have been serving our local community for over 20 years</p>

                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="banner_bg">
                      <div class="banner_taital_main">
                        <h1 class="banner_taital">Providing appropritate<br>
                        health care for  
                        <br>each and everyone</h1>
                        <p class="long_text">Our mission is to provide high-quality medications and health-related products and services to our customers. We believe that everyone deserves access to affordable and effective healthcare, and we are committed to helping our customers achieve their health goals.

At [Pharmacy Name], we offer a wide range of services to meet the needs of our customers. Our licensed pharmacists are available to answer your questions and provide advice on medication management, drug interactions, and other health-related topics. We also offer prescription filling, medication synchronization, medication therapy management, and immunization services.</p>
                        <div class="btn_main">
                          <div class="about_us">We strive to offer Quality services</div>
                          <div class="about_bt"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="banner_bg">
                      <div class="banner_taital_main">
                        <h1 class="banner_taital">Providing appropritate<br>
                        health care for
                        <br>seniors and  childrens</h1>
                        <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                        <div class="btn_main">
                          <div class="about_us"><a href="#">About Us</a></div>
                          <div class="about_bt"><a href="#">Get Appointment</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-6 padding_0">
              <div class="banner_img"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- banner section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="about_taital">
                <h4 class="about_text">About Us</h4>
                <h1 class="highest_text" >We aim to offer quality services</h1>
                <p class="lorem_text">Our mission is to provide high-quality medications and health-related products and services to our customers. We believe that everyone deserves access to affordable and effective healthcare, and we are committed to helping our customers achieve their health goals.

At Healthylivin, we offer a wide range of services to meet the needs of our customers. Our licensed pharmacists are available to answer your questions and provide advice on medication management, drug interactions, and other health-related topics. We also offer prescription filling, medication synchronization, medication therapy management, and immunization services.</p>
                <div class="read_bt" style="color: #0cd268">We are happy to serve you</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image_2" href="#"><img src={% static 'images/pharm.jpg' %}></div>
            </div>
          </div>
        </div>
      </div>
      <!-- about section end -->
      <!-- care section start -->
      <div class="care_section layout_padding">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="image_3" href="#"><img src={% static 'images/lab2.jpg' %}></div>
            </div>
            <div class="col-md-6">
              <div class="care_taital">
                <h4 class="finest_text">Best Laboratory</h4>
                <h1 class="care_text">Tests available</h1>
                <p class="ipsum_text">Our experienced and compassionate staff is dedicated to providing you with the highest level of care and ensuring that you feel comfortable and at ease throughout the testing process. From routine blood work to more specialized tests, we have the expertise and technology to help you get the answers you need.

 We strive to provide fast and accurate results, often within hours of your visit. We also offer convenient scheduling options, including online appointment booking and walk-in services.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- care section end -->


      <!-- contact section start -->
      <div class="contact_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="contact_text">Patients Details</h1>
                  <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-md">

        </div>
      </nav>


      <div class="container mt-5">

        <div class="row">
            <div class="col-md-4">
                <h2>Fill in Details</h2>
                <br>

                <form action="/insert" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" name="name" required>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control  mt-2" placeholder="Email" name="email" required>
                    </div>

                    <div class="form-group">
                        <input type="number" class="form-control  mt-2" placeholder="ID Number" name="idnum" required>

                    </div>
                     <div class="form-group">
                        <input type="number" class="form-control  mt-2" placeholder="Age" name="age" required>

                    </div>


                    <div class="form-group mt-2">
                        <select id="gender" name="gender" class="form-control" required>
                            <option selected>select gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>





                    <div class="d-grid gap-2">

                        <button class="btn btn-success mt-2" type="submit">Insert</button>
                    </div>



                </form>
            </div>
              <div class="col-md-8">
                <h2>View Data</h2>
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                          <th scope="col">Age</th>
                          <th scope="col">Gender</th>
                          <th scope="col">idnum</th>
                          <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                      </tr>
                    </thead>
                    <tbody cl
                           ass="table-group-divider">

                    {% for d in data %}
                      <tr>
                        <th scope="row">{{d.id}}</th>
                        <td>{{d.name}}</td>
                        <td>{{d.email}}</td>
                        <td>{{d.age}}</td>
                        <td>{{d.gender}}</td>
                          <form action="">
                                <td><input name="phone" type="text" value="{{d.idnum}}"></td>


                          </form>
                         <td><a href="/update/{{d.id}}" type="button" class="btn btn-outline-warning">Edit</a></td>
                        <td><a href="/delete/{{d.id}}" type="button" class="btn btn-outline-danger">Delete</a></td>
                                            </tr>
                    {% endfor %}
                    </tbody>
                  </table>


            </div>
        </div>

      </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


      <!-- appointment section end -->
      <!-- footer section start -->
      <!-- info section -->
    <section class="info_section layout_padding">
    <div class="container">
      <div class="info_form">

        <div class="row">
          <div class="offset-lg-3 col-lg-3">
            <h5 class="form_heading">
              Be in touch with us
            </h5>
          </div>
          <div class="col-md-6">
            <form action="#">
              <input type="text" placeholder="Enter Your email">
              <button>
                Subscribe
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="info_logo">
            <div>
              <a href="">
                <img style="height: 100px; width: 100px" src={% static 'images/logo.png' %} alt="" />
                <span>
                  Healthylivin
                </span>
              </a>
            </div>
            <p>
             Thank you for choosing Healthylivin as your healthcare provider. We look forward to serving you and your family for years to come.
            </p>
          </div>
        </div>
          <div class="info_links ">
            <h5>
              Contact Us
            </h5>
            <p class="pr-0 pr-md-4 pr-lg-5">
            Our pharmacy is open 24 hours for your convenience. Our friendly and knowledgeable staff are always available to help you with any questions you may have about your medications or healthcare needs.
            </p>
          </div>
        </div>

          <div class="info_insta">
            <h5>
              Happy to serve you
            </h5>
            <p class="pr-0 pr-md-4 pr-md-5">
              For your convenience, we also offer home delivery services for prescription medications. Contact us to learn more about our delivery options and to arrange for delivery of your medications.
            </p>
          </div>
          <div class="pl-0 pl-lg-5 pl-md-4">
            <h5>
              Contact Details

            </h5>
            <p>
              Phone: 0759423500 <br>
Fax: Cynthiakitur<br>
Email: healthylivin.co.ke<br>
Address: Kilimani, Nairobi
            </p>

          
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">

  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

  <script>
    // This example adds a marker to indicate the position of Bondi Beach in Sydney,
    // Australia.
    function initMap() {
      var map = new google.maps.Map(document.getElementById("map"), {
        zoom: 11,
        center: {
          lat: 40.645037,
          lng: -73.880224
        }
      });

      var image = "images/maps-and-flags.png";
      var beachMarker = new google.maps.Marker({
        position: {
          lat: 40.645037,
          lng: -73.880224
        },
        map: map,
        icon: image
      });
    }
  </script>
  <!-- google map js -->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap">
  </script>
  <!-- end google map js -->

  <script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
    <!-- end info section -->
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
      <div class="container">
        <p class="copyright">2020 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
      </div>
    </div>
    <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
            </div>
          </div>
        </div>
      </div>
    </body>

   </html>